#img_container div{ 
    position: absolute;

    width: 20vw; 
     height: 50vh; 
    border: solid red 2px; 
    margin-block: 10px; 
    opacity: 0.5;

}
#img1{
    background-image:url("./src/img1.jpeg");
  height: 100%; 
    width: 50%; 
    background-position:center;

    background-size: contain;
    background-repeat: no-repeat;
   left: 0vw;

}

#img2{
    background-image:url("./src/img2.jpeg");
    height: 100%; 
    width: 50%; 
    background-position:center;

    background-size: contain;
    background-repeat: no-repeat;

   left: 10vw;

    
}

#img3{
    background-image:url("./src/img3.jpeg");
 height: 100%; 
    width: 50%; 
    background-position:center;

    background-size: contain;
    background-repeat: no-repeat;

   left: 20vw;

    
}

#img4{
    background-image:url("./src/img4.jpeg");
    height: 100%; 
    width: 50%; 
    background-position:center;

    background-size: contain;
    background-repeat: no-repeat;

   left: 30vw;
    
}

.text{
    opacity: 0;
}

 

 
#img_container{
    position:relative; 
    display: inline; 
    width: 100vw; 
    height: 50vh;
    background-color: green;
}



#img_container div:hover{
    z-index: 100; 
    opacity: 1;
    
}


#img_container div:hover .text{
    opacity: 1;
}